{{- $url := .url | default "" -}}
{{- if not $url -}}
  {{- "" -}}
{{- else -}}
  {{- $clean := $url -}}
  {{- $isExternal := or (strings.HasPrefix $clean "http://") (strings.HasPrefix $clean "https://") (strings.HasPrefix $clean "//") -}}
  {{- if not $isExternal -}}
    {{- $defaultLang := site.Params.facodi.defaultLocale | default site.Language.Lang -}}
    {{- $currentLang := site.Language.Lang -}}
    {{- with .currentLang -}}
      {{- $currentLang = . -}}
    {{- end -}}
    {{- $preserveLocale := true -}}
    {{- with .preserveLocale -}}
      {{- $preserveLocale = . -}}
    {{- end -}}
    {{- $fallbackToDefault := false -}}
    {{- with .fallbackToDefault -}}
      {{- $fallbackToDefault = . -}}
    {{- end -}}
    {{- $targetLang := "" -}}
    {{- range site.Languages -}}
      {{- if eq $targetLang "" -}}
        {{- $langPrefix := printf "/%s" .Lang -}}
        {{- if or (eq $clean $langPrefix) (strings.HasPrefix $clean (printf "%s/" $langPrefix)) (strings.HasPrefix $clean (printf "%s?" $langPrefix)) (strings.HasPrefix $clean (printf "%s#" $langPrefix)) -}}
          {{- $targetLang = .Lang -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $shouldStrip := false -}}
    {{- if ne $targetLang "" -}}
      {{- if not $preserveLocale -}}
        {{- $shouldStrip = true -}}
      {{- else if and (eq $currentLang $defaultLang) (eq $targetLang $defaultLang) -}}
        {{- $shouldStrip = true -}}
      {{- else if and $fallbackToDefault (eq $targetLang $defaultLang) (ne $currentLang $defaultLang) -}}
        {{- $shouldStrip = true -}}
      {{- end -}}
    {{- end -}}
    {{- if $shouldStrip -}}
      {{- $langPrefix := printf "/%s" $targetLang -}}
      {{- $trimmed := strings.TrimPrefix $clean $langPrefix -}}
      {{- if eq $trimmed "" -}}
        {{- $clean = "/" -}}
      {{- else -}}
        {{- $clean = printf "/%s" (strings.TrimPrefix $trimmed "/") -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $clean -}}
{{- end -}}
