@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background font-body text-foreground antialiased;
}

a {
  @apply text-primary underline-offset-4 transition hover:underline;
}
