@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  a {
    @apply underline-offset-4 transition-colors;
  }

  a:hover {
    @apply text-primary;
  }

  :focus-visible {
    outline: none;
  }

  :focus-visible {
    @apply ring-2 ring-primary ring-offset-2 ring-offset-background;
  }
}
