{{- $supabaseUrl := or (getenv "SUPABASE_URL") site.Params.facodi.supabaseUrl -}}
{{- $supabaseAnon := or (getenv "SUPABASE_ANON_KEY") site.Params.facodi.supabaseAnonKey -}}
{{- $translationKeys := slice
  "course.noUcs"
  "common.unit"
  "common.units"
  "common.semester"
  "common.year"
  "common.playlist"
  "common.playlists"
  "common.topic"
  "common.topics"
  "common.ects"
  "common.language"
  "uc.topics"
  "uc.noTopics"
  "uc.playlists"
  "uc.noPlaylists"
  "uc.learningOutcomes"
  "uc.noLearningOutcomes"
  "uc.noPrerequisites"
  "topic.noTags"
  "topic.relatedPlaylists"
  "topic.noPlaylists"
-}}
{{- $translationMap := dict -}}
{{- range $translationKeys -}}
  {{- $translationMap = merge $translationMap (dict . (i18n .)) -}}
{{- end -}}
<script id="facodi-translations" type="application/json">{{ $translationMap | jsonify | safeHTML }}</script>
<script id="facodi-config" type="application/json">{{ dict "supabaseUrl" $supabaseUrl "supabaseAnonKey" $supabaseAnon | jsonify | safeHTML }}</script>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2/dist/umd/supabase.min.js" integrity="sha384-AkNSQdptcXlJ0/NBZc4qGk86cDVXcCevwoWgEKIpHOEfbvlXGLlIkimQtONt8KNf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@12/marked.min.js" integrity="sha384-/TQbtLCAerC3jgaim+N78RZSDYV7ryeoBCVqTuzRrFec2akfBkHS7ACQ3PQhvMVi" crossorigin="anonymous"></script>
{{ $customScript := resources.Get "js/custom.js" | js.Build (dict "format" "iife" "target" "es2017") }}
<script src="{{ $customScript.RelPermalink }}" defer></script>
<script src="{{ "js/supabaseClient.js" | relURL }}" defer></script>
<script src="{{ "js/loaders.js" | relURL }}" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (!window.facodiLoaders) {
      return;
    }
    const ctx = window.facodiPageContext || {};
    if (ctx.courseCode) {
      window.facodiLoaders.loadCoursePage(ctx.courseCode, ctx.planVersion);
    }
    if (ctx.ucCode) {
      window.facodiLoaders.loadUCPage(ctx.ucCode);
    }
    if (ctx.topicSlug) {
      window.facodiLoaders.loadTopicPage(ctx.topicSlug);
    }
  });
</script>
