{{- $supabaseUrl := or (getenv "SUPABASE_URL") site.Params.facodi.supabaseUrl -}}
{{- $supabaseAnon := or (getenv "SUPABASE_ANON_KEY") site.Params.facodi.supabaseAnonKey -}}
{{- $translationKeys := slice
  "course.noUcs"
  "common.unit"
  "common.units"
  "common.semester"
  "common.year"
  "common.playlist"
  "common.playlists"
  "common.topic"
  "common.topics"
  "common.ects"
  "common.language"
  "uc.topics"
  "uc.noTopics"
  "uc.playlists"
  "uc.noPlaylists"
  "uc.learningOutcomes"
  "uc.noLearningOutcomes"
  "uc.noPrerequisites"
  "topic.noTags"
  "topic.relatedPlaylists"
  "topic.noPlaylists"
-}}
{{- $translationMap := dict -}}
{{- range $translationKeys -}}
  {{- $translationMap = merge $translationMap (dict . (i18n .)) -}}
{{- end -}}
{{- $defaultLocale := site.Params.facodi.defaultLocale | default "pt" -}}
{{- $configuredLanguages := site.Params.facodi.languages | default (slice) -}}
{{- $languageList := slice -}}
{{- range $configuredLanguages -}}
  {{- $code := .code | default .Code -}}
  {{- if $code -}}
    {{- $entry := dict "code" $code "label" (.label | default .Label | default (strings.ToUpper $code)) "autoTranslate" (.autoTranslate | default false) -}}
    {{- with .tag -}}
      {{- $entry = merge $entry (dict "tag" .) -}}
    {{- else with .Tag -}}
      {{- $entry = merge $entry (dict "tag" .) -}}
    {{- end -}}
    {{- if or (.isDefault) (.IsDefault) (eq $code $defaultLocale) -}}
      {{- $entry = merge $entry (dict "isDefault" true) -}}
    {{- end -}}
    {{- $languageList = $languageList | append $entry -}}
  {{- end -}}
{{- end -}}
{{- if not (len $languageList) -}}
  {{- $languageList = slice (dict "code" $defaultLocale "label" (strings.ToUpper $defaultLocale) "isDefault" true "autoTranslate" false) -}}
{{- end -}}
{{- $translationsByLang := dict -}}
{{- range $languageList -}}
  {{- $code := .code -}}
  {{- $file := printf "i18n/%s.json" $code -}}
  {{- if fileExists $file -}}
    {{- $raw := readFile $file | transform.Unmarshal -}}
    {{- $pairs := dict -}}
    {{- range $raw -}}
      {{- $pairs = merge $pairs (dict .id .translation) -}}
    {{- end -}}
    {{- $translationsByLang = merge $translationsByLang (dict $code $pairs) -}}
  {{- end -}}
{{- end -}}
{{- $i18nPayload := dict "default" $defaultLocale "languages" $languageList "translations" $translationsByLang -}}
<script id="facodi-i18n" type="application/json">{{ $i18nPayload | jsonify | safeHTML }}</script>
<script id="facodi-translations" type="application/json">{{ $translationMap | jsonify | safeHTML }}</script>
<script id="facodi-config" type="application/json">{{ dict "supabaseUrl" $supabaseUrl "supabaseAnonKey" $supabaseAnon | jsonify | safeHTML }}</script>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2/dist/umd/supabase.min.js" integrity="sha384-AkNSQdptcXlJ0/NBZc4qGk86cDVXcCevwoWgEKIpHOEfbvlXGLlIkimQtONt8KNf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@12/marked.min.js" integrity="sha384-/TQbtLCAerC3jgaim+N78RZSDYV7ryeoBCVqTuzRrFec2akfBkHS7ACQ3PQhvMVi" crossorigin="anonymous"></script>
{{ $customScript := resources.Get "js/custom.js" | js.Build (dict "format" "iife" "target" "es2017") }}
<script src="{{ $customScript.RelPermalink }}" defer></script>
<script src="{{ "js/supabaseClient.js" | relURL }}" defer></script>
<script src="{{ "js/loaders.js" | relURL }}" defer></script>
<script src="https://translate.google.com/translate_a/element.js?cb=facodiGoogleTranslateInit" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (!window.facodiLoaders) {
      return;
    }
    const body = document.body || {};
    const dataset = body.dataset || {};
    const datasetContext = {
      courseCode: dataset.course || undefined,
      planVersion: dataset.plan || undefined,
      ucCode: dataset.uc || undefined,
      topicSlug: dataset.topic || undefined,
    };
    const runtimeContext = window.facodiPageContext || {};
    const ctx = Object.assign({}, datasetContext, runtimeContext);
    if (ctx.courseCode) {
      window.facodiLoaders.loadCoursePage(ctx.courseCode, ctx.planVersion);
    }
    if (ctx.ucCode) {
      window.facodiLoaders.loadUCPage(ctx.ucCode);
    }
    if (ctx.topicSlug) {
      window.facodiLoaders.loadTopicPage(ctx.topicSlug);
    }
  });
</script>
